@import '../../css/_colors.css';

.ConnectedSemaphore {
  display: flex;
  flex-direction: column;
  align-items: center;
  float: left;
  margin: 10px;
  background-color: var(--lighter-gray);
  border-radius: 25px;
  border-style: solid;
  border-color: var(--lighter-gray);
}

.ConnectedSemaphore button {
  min-height: 30px;
  margin: -12px 0 15px;
  width: 50px;
  overflow-wrap: break-word;
}

.ConnectedSemaphore .Semaphore:hover {
  background-color: var(--lighter-gray);
}

.ConnectedSemaphore--selected {
  border-style: dashed;
  border-color: var(--black);
}
