@import "../../scss/_colors";

.Semaphore {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 50px;
  background-color: $gray;
  border-radius: 25px;
  margin: 5px;

  &:hover {
    background-color: $light-gray;
  }
}