:global(:root) {
  --black: #000;
  --white: #fff;
  --gray: #e0e0e0;
  --dark-gray: #9b9b9b;
  --light-gray: #9e9e9e;
  --lighter-gray: #e2e2e2;
  --blue: #0099e0;
  --mud: #4d4d4d;
}

:global(body) {
  margin: 0;
  background-color: var(--background-color);
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:global(code) {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
